body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 44px;
}

h1 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3da5ff;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 40px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 36px;
}

h3 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3da5ff;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 32px;
}

h4 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3da5ff;
}

p {
    margin: 8px;
}

#nav {
    background-color: #333;
    font-size: xx-large;
    margin: auto;
}

#nav .nav-item {
    display: inline-block;
    padding: 0.5rem 1rem;
}

#nav .nav-item:hover {
    background-color: #111;
}

#nav .nav-item a {
    color: whitesmoke;
    text-decoration: none;
}

#nav .nav-item-selected {
    text-decoration: underline;
}

#content, #footer {
    margin: 0 auto;
    text-align: center;
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    padding-bottom: 2em;
}

#product-list li a {
    color: black;
    text-decoration: none;
}

#product-list li .product-list-title a {
    color: #db8700;
}

#product-list li .product-list-quicklinks a {
    font-size: 1.5em;
    text-decoration: underline;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#blog-post-list {
    list-style-type: none;
    padding: 0;
    max-width: 100vh;
    margin: auto;
}


#blog-post-list li {
    list-style-type: none;
    padding: 0;
    margin: auto;
    padding-bottom: 2em;
}

#blog-post-list li a {
    text-decoration: none;
}

#blog-post-list li a .blog-post-list-title {
    font-size: 2em;
    color: #db8700;
}

#blog-post-list li a .blog-post-list-img {
    max-width: 50%;
}

#blog-post-list li p {
    text-decoration: none;
    font-size: 1.25em;
    color: #000000;
}

#blog-post {
    text-align: left;
    text-indent: 3em;
    max-width: 120vh;
    margin: auto;
}

#blog-post-img {
    max-width: 60%;
}

#blog-post-content p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#footer-socials img {
    max-height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}