body {
    margin: 0px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 44px;
}

h1 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3da5ff;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 40px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 36px;
}

h3 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3da5ff;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 32px;
}

h4 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3da5ff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.horizontal-list li {
    float: left;
}

.horizontal-list li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 8px 10px;
    text-decoration: none;
}

.horizontal-list li a:hover {
    background-color: #111;
}

.vertical-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #333;
}

.vertical-list li {
    border-bottom: 1px solid #333;
}

.vertical-list li a {
    display: block;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding: 8px;
    text-decoration: none;
}

.vertical-list li a:hover {
    background-color: #555;
    color: white;
}